<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    <div id="banner">

    </div>

    <div id="menu">
        <nav>
            @Html.MvcSiteMap().Menu()
        </nav>
        @*@Html.MvcSiteMap().SiteMapPath()*@
    </div>

    <div id="content">
        @RenderBody()
    </div>

    <div id="footer">
        @RenderSection("footer",false)
    </div>

    @RenderSection("script", false)
</body>
</html>
